* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.search-container {
  margin: 50px auto;
  background: #202124;
  color: #0b0909;
  border-radius: 25px;
  position: relative;
  width: 500px;
}

#search {
  width: 100%;
  border: none;
  height: 50px;
  background: #ffffff;
  color: #000000;
  border-radius: 25px;
  padding: 0px 40px 0px 25px;
  font-size: 18px;
}

#search:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  background: none;
  top: 13px;
  right: 20px;
}

.search-icon i {
  color: #000000;
  font-size: 22px;
  cursor: pointer;
}




.suggesstions-wrap .suggesstions {
    margin: 0; 
    padding: 0; 
}
.suggesstions-wrap .suggesstions li {
  list-style: none;
  border-radius: 3px;
  padding: 8px 25px;
  transition: all .5s linear;
}

.suggesstions-wrap {
    display: none;
}

.suggesstions-wrap.show {
  display: block;
}

.suggesstions-wrap .suggesstions li:hover {
  background: #d8d8d8;
}

