*{
  padding: 0px;
  margin: 0px;
}
nav{
  width: 100%;
  height: 75px;
  display: flex;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.368);
}
nav .heading{
  display: inline;
  line-height: 72px;
  margin-left: 55px;
  font-family: "Noto Sans Georgian", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  background-image: linear-gradient(to left,rgb(222, 11, 255), #e1ff67, #ff10b7,rgb(13, 255, 0));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  letter-spacing: 1px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.278);
}

nav ul{
  display: flex;
  margin-left: 40px;
  list-style: none;
  line-height: 72px;
}
nav ul li{
  display: inline;
  list-style: none;
  padding:0px 15px ;
  font-family:"Noto Sans Georgian", sans-serif ;

}
nav ul li a{
  text-decoration: none;
  color: black;
}
nav ul li:hover{
  background-color: rgba(0, 0, 0, 0.055);
}

nav .searchbox{
  width:265px;
  height: 35px;
  position: relative;
  top: 8px;
  margin-left: 15px;
  
}
nav .searchbox input{
  width: 190px;
  font-family: Arial;
  height:40px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 2px;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
}


nav .searchbox button{
  width: 60px;
  height: 40px;
  background: rgb(85, 66, 230);
  border: 2px solid rgb(0, 0, 0);
  border-left: none;
  margin-top: 10px;
  color: white;
  font-size: 15px;
  border-radius: 0px 5px 5px 0px;
  float: right;
  transition: 0.3s;
}
.menu {
display: flex;
position: relative;




}
nav .searchbox input:focus{
outline: none;
}
nav .searchbox button:focus{
outline: none;

}
nav .searchbox button:active{
background-image: linear-gradient(to left,rgb(222, 11, 255),rgb(13, 255, 0));
color: black;
}


.reg{
  /* display: flex; */
  position: relative;
  top: -3px;
  right: -60px;
}

.reg button{
  justify-content: left;
  position: relative;
  right: -30px;
  padding: 10px ;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border:1px solid rgba(83, 81, 81, 0.263);
  margin: 20px 10px 0px ;
  box-shadow: 1px 1px 9px rgb(148, 148, 148);
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  transition: .3s ease;
}
.reg .bot1{
  margin-left: 40px;
}

.reg .bot2{
color: white;
background-color: rgb(57, 110, 255);


}
.sidebar{
position: fixed;
top: 0; 
right: 0;
height: 100vh;
width: 250px;
background-color: rgba(113, 112, 112, 0.15);
backdrop-filter: blur(12px);
box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
list-style: none;
display: none;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.sidebar li{
width: 100%;
}
.sidebar a{
width: 100%;
}
.sidebar .sidereg{
justify-content: center;
position: relative;
right: -15px;
bottom: -150px;
padding: 10px ;
margin: 20px 10px 0px ;
transition: .3s ease;
}
.sidebar .sidereg button{
justify-content: left;
  position: relative;
  padding: 10px ;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border:1px solid rgba(83, 81, 81, 0.263);
  box-shadow: 1px 1px 9px rgb(148, 148, 148);
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  transition: .3s ease;
}
.sidebar .sidereg .bot1{
margin-right: 15px;
}
.sidebar .sidereg .bot2{
  color: white;
  background-color: rgb(57, 110, 255);
}
.menu-button{
display: none;
}
@media(max-width: 1415px){
.hideOnMobile{
  display: none;
}
.menu-button{
  display: block;
  position: relative;
  right: -300px;

}
}
/* @media(max-width: 400px){
.sidebar{
  width: 100%;
}
} */

@media(max-width:1310px){
.menu-button {
  
  right:-250px;
  transition: 0.1s;

}
 
}
@media(max-width:1261px){
.menu-button {
  
  right:-200px;
  transition: 0.1s;
}
 
}
@media(max-width:1192px){
.menu-button {
  
  right:-100px;
  transition: 0.1s;
}
 
}
@media(max-width:1099px){
.menu-button {
  
  right:-50px;
  transition: 0.1s;
}
.reg{
  display: none;
}
 
}
@media(max-width:901px){
.menu-button {
  right:-50px;
  transition: 0.1s;
}
}
 
@media(max-width:803px){
.searchbox{
  display: none;
  transition: 0.1s;
}
}
@media(max-width:523px){
  .menu-button{
    right: 0px;
    transition: 0.1s;
  }
}
@media(max-height:500px){
.sidebar .sidereg{
  bottom: -100px;
  transition: 0.1s;
}
}
@media(max-height:700px){
.sidebar .sidereg{
  bottom: -50px;
  transition: 0.1s;
}
}
@media(max-height:610px){
.sidebar .sidereg{
  bottom: -50px;
  transition: 0.1s;
}
}
@media(max-height:532px){
.sidebar .sidereg{
  bottom: 0px;
  transition: 0.1s;
}
}
.container1{
  width: 500px;
  /* display: flex; */
  margin: 100px 0px 0px 100px;
  /* border: 1px solid black; */
  
}
.container1 h1{
  font-family: "Noto Sans Georgian", sans-serif;
  font-size: 45px;
  letter-spacing: .5px;
  background-image: linear-gradient(to left,rgb(13, 255, 0) , rgb(222, 11, 255),#ff10b7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  /* justify-content: center; */
}
.container1 p{
  font-family:"Noto Sans Georgian", sans-serif ;
  font-size: 20px;
  margin: 30px 0px 0px 20px;
  font-variant: small-caps;
  line-height: 30px;
}
.container1 .aisearch{
unicode-bidi: plaintext;
-webkit-font-smoothing: antialiased;
text-size-adjust: none;
font-family: Canva Sans,Noto Sans Variable,Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
font-variation-settings: "opsz" 0;
font-weight: 400;
margin: 0;
overflow-wrap: break-word;
font-size: 17px;
line-height: calc(var(----lgQg, .1rem)*8/8*22);
appearance: none;
background: inherit;
border: 0;
box-sizing: border-box;
color: inherit;
font-variant-ligatures: none;
min-width: 8px;
outline: none;
width: 90%;
padding: 2px 10px;
border: 1px solid rgba(0, 0, 0, 0.341);
margin-top: 30px;
font-family:"Noto Sans Georgian", sans-serif;
border-radius: 5px;
font-size: 17px;
}
@media(max-width:728px){
  .container1 {
    margin-left: 50px;
  }
}

@media(max-width:605px){
  .container1 {
    margin-left: 20px;
    width: 480px;
  }
  .container1 p{
    margin-left: 5px;
    /* text-align: justify; */
  }
}

.article1{
  
  width: 1350px;
  flex: 1 1 0;
  margin: 200px 32px 10px 100px;
  height: 800px;
  
}
.article1 .left{
  margin-top: 50px;
  display: inline-block;
  width: 640px;
}
.article1 .heading{
  font-family: "Noto Sans Georgian", sans-serif;
  font-size: 35px;
}
.article1 .para1{
  margin-top: 50px;
  font-family: "Noto Sans Georgian", sans-serif;
  text-align: justify;
  line-height: 23px;
  /* font-weight: 550; */
}
.article1 .para2{
  margin-top: 30px;
  font-family: "Noto Sans Georgian", sans-serif;
  text-align: justify;
  line-height: 23px;
  /* font-weight: 550; */
}

.article1 .right{
  display: inline;
  float: right;
  
}

.article1 .right .robo{
  background-size: cover;
  border-radius: 5px;
  box-shadow: 3px 3px 8px black;
}

.footer{
  width: 100%;
  height: 350px;
  background-color: rgb(0, 0, 0);
  margin-top: 100px;
  position:relative;

}
.footer .logo{
  width: 40px;
  height: 40px;
  background-size: cover;
  margin-top: 50px;
  margin-left: 100px;
}
.footer .logoname{
  display: inline;
  font-size: 30px;
  background-image: linear-gradient(to left,rgb(222, 11, 255), #e1ff67, #ff10b7,rgb(13, 255, 0));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  position: relative;
  margin-left: 10px;
  top: -5px;

}

.footer p{
  color: white;
  display: flex;
  margin-left:100px ;
  position: relative;
  top: 30px;
  line-height: 30px;
  font-family: "Noto Sans Georgian", sans-serif;
  text-transform: capitalize;
}
.footer .contact{
  width: 100%;
  height: 70px;
  position: relative;
  display: flex;
  /* border: 1px solid white; */
  bottom: -120px;
  background-color: white;
  padding: 10px;

}
.footer .contact a{
  color: rgb(0, 0, 0);
  /* margin-top: 20px; */
  margin:23px 7px ;

  
}
.footer .contact a i{
  color: black;
}
.footer .contact #mrg{
  margin-left: 40px;
}
.footer .contact #cpright{
  color: black;
  /* margin-top: 0px; */
  display: inline;
  margin-left: 30px;
  font-family:"Noto Sans Georgian", sans-serif ;
  position: relative;
  top: 17px;
}



								